/* Advanced Checklists */

/* https://docs.obsidian.md/Reference/CSS+variables/Foundations/Colors */

/* Task */

.HyperMD-task-line[data-task=" "] input[type=checkbox]:not(:checked),
.HyperMD-task-line[data-task=" "] input[type=checkbox]:not(:checked) {
    border-color: var(--text-normal);
    background-color: var(--background-primary);
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 2px;
    border: 2px solid var(--text-normal);
    padding: 0;
    position: relative;
    height: 16px;
    width: 16px;
    margin: 0 6px 0 0;
    cursor: pointer;
}

.HyperMD-task-line[data-task=" "] input[type=checkbox]:not(:checked)::before {
    content: "";
    font-family: var(--font-monospace-theme);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: var(--text-normal);
}

/* Completed task */

.HyperMD-task-line[data-task="x"],
.HyperMD-task-line[data-task="X"] {
    color: var(--text-success);
    text-decoration: none !important;
}

.HyperMD-task-line[data-task="x"] input[type=checkbox]:checked,
.HyperMD-task-line[data-task="X"] input[type=checkbox]:checked {
    border-color: var(--text-success);
    background-color: var(--text-success);
    -webkit-appearance: none;
    appearance: none;
    border-radius: 2px;
    border: 2px solid var(--text-success);
    padding: 0;
    position: relative;
    height: 16px;
    width: 16px;
    margin: 0 6px 0 0;
    cursor: pointer;
}

.HyperMD-task-line[data-task="x"] input[type=checkbox]:checked::before,
.HyperMD-task-line[data-task="X"] input[type=checkbox]:checked::before {
    content: "\f00c";  /* Replace with your preferred NerdFont icon code */
    font-family: "FiraCode Nerd Font Mono";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: var(--background-primary);
}
